:root {
  --blue: #00d8ff;
}

.projects_section {
  background: #30333B url(../../assets/topography.svg);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  padding: 10vh 0;
  width: 100%;
}

.projects_title {
  font-size: 3rem;
  margin-bottom: 40px;
}

.projects_grid {
  max-width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
