.contact_section {
  background: #30333B url(../../assets/topography.svg);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  position: relative;
  padding: 8vh 0;
  width: 100%;
  border-top: 3px solid var(--blue);
  border-bottom: 3px solid var(--blue);
}

.contact_title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
  display: inline-block;
}

.contact_boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2.5rem;
}

.contact_box{
  background-color: #3c3c41;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  font-size: 1rem;
  min-width: 250px;
}

.contact_box span{
  color: var(--blue);
}

.contact_socials {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1.5rem;
  color: white;
}

.contact_socials a {
  color: #fff;
  transition: transform 0.2s ease;
}

.contact_socials a:hover {
  transform: scale(1.2);
  color: var(--blue);
}